################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pubxml
*.config
*.njsproj
/typings.json
/typings
*.xml
/node_modules
/obj
/masterkey-test/
