################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pubxml
*.njsproj
/typings.json
/typings
*.xml
/node_modules
/bower_components
/obj
