<div class="mk-quote">
    <h3>
        <span ng-bind="course.name"></span>, <span ng-bind="course.institute.campus"></span> <small data-translate="quote.create"></small>
    </h3>
    <div class="row">
        <div class="col-md-8">
            <button type="button" class="btn btn-success pull-right" data-translate="quote.save" ng-click="quoteSave()"></button>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active: isActiveTab('course')}">
                    <a href="" ng-click="setTab('course')" aria-controls="course" role="tab" data-toggle="tab" data-translate="course"></a>
                </li>
                <li role="presentation" ng-class="{active: isActiveTab('accommodation')}">
                    <a href="" ng-click="setTab('accommodation')" aria-controls="accommodation" role="tab" data-toggle="tab" data-translate="accommodation"></a>
                </li>
            </ul>
            <mk-quote-course ng-if="isActiveTab('course')"></mk-quote-course>
            <mk-quote-accommodation ng-if="isActiveTab('accommodation')"></mk-quote-accommodation>
        </div>
        <div class="col-md-4">
            <div class="alert alert-info">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <span data-translate="total.estimated"></span>
                            </td>
                            <td class="text-right">
                                {{draft.localTotal.amount|number:2}} {{draft.localTotal.currency}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <span ng-repeat="price in draft.total.byCurrency">
                                    <i ng-show="$index>0">+</i>
                                    {{price.amount|number:2}} {{price.currency}}
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="line in draft.lines">
                            <td>
                                <span class="fa fa-chevron-right"></span>
                                <span ng-show="line.type=='AgencyFee'" data-translate="line.{{ line.name }}"></span>
                                <span ng-hide="line.type=='AgencyFee'" ng-bind="line.name"></span>
                            </td>
                            <td class="text-right">
                                {{line.total|number:2}} {{line.currency}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-warning" ng-show="draft.notesByType.Warning.length">
                <div class="panel-heading">
                    <p class="panel-title">
                        <i class="fa fa-warning"></i>
                        <span data-translate="note.Warning"></span>
                    </p>

                    <ul>
                        <li class="text-warning" ng-repeat="note in draft.notesByType.Warning" ng-bind="note.message">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-success" ng-show="optionalPromotionList">
                <div class="panel-heading">
                    <p class="panel-title">
                        <i class="fa fa-star"></i>
                        <span data-translate="promotion.available.plural"></span>
                    </p>

                    <div class="checkbox" ng-repeat="promotion in optionalPromotionList">
                        <label>
                            <input type="checkbox"
                                   checklist-model="cmd.agencyPromotionList"
                                   checklist-value="promotion"
                                   checklist-change="refreshDraft(cmd)">

                            <span ng-bind="promotion.name"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" ng-show="draft.notesByType.Info.length">
                <div class="panel-heading">
                    <p data-translate="note.Info"></p>

                    <ul>
                        <li ng-repeat="note in draft.notesByType.Info" ng-bind="note.message">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" ng-show="messages">{{messages}}</div>
            <div class="alert alert-danger" ng-show="errors">{{errors}}</div>
        </div>
    </div>
</div>

