<div>
    <div class="input-group margin-bottom-10" ng-hide="place.type == 'school'">
        <span class="input-group-addon"><i class="fa fa-university"></i></span>
        <select ng-options="school as school.name
                for school in options.schoolList
                | orderBy:'name' track by school.id"
                ng-model="query.school"
                ng-change="refresh({$city:query.city, $school:school})"
                class="form-control input-sm">
            <option value="">{{ 'select...' }}</option>
        </select>
    </div>

    <div class="input-group margin-bottom-10" ng-hide="place.type == 'city'">
        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
        <select ng-options="city as city.name
                for city in options.cityList
                | orderBy:'name' track by city.id"
                ng-model="query.city"
                ng-change="refresh({$city:city, $school:query.school})"
                class="form-control input-sm">
            <option value="">{{ 'select...' }}</option>
        </select>
    </div>
    <div class="input-group" ng-show="place.type=='school'">
        <span class="input-group-addon"><i class="fa fa-flag"></i></span>
        <select ng-options="country as country.name
            for country in options.countryList
            | orderBy:'name' track by country.id"
                    ng-model="query.country"
                    ng-change="refresh()"
                    class="form-control input-sm">
            <option value="">{{ 'select...' | translate:{label:'country'} }}</option>
        </select>
    </div>
</div>

