<mk-search-topbar></mk-search-topbar>

<div class="alert alert-danger" ng-show="messageDanger">{{messageDanger}}</div>
<div style="margin: 15px 0;" ng-show="unfilteredList">
    <!--=== Content Part ===-->
    <div>
        <div ng-hide="unfilteredList.$resolved">
            <i class="fa fa-cog fa-spin"></i>
        </div>
        <div class="row" ng-show="courseList">
            <div class="col-md-2" ng-hide="$loading">
                <mk-search-filters lists="options" place="searchCmd.place" filters="query" refresh="filterCourses($city, $school)"></mk-search-filters>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <mk-search-list></mk-search-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Content Part ===-->
</div>
